
#app_title {
  font-size: 60px;
  text-align :center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-face: bold;
}

#app_subtitle {
  font-size: 35px;
  text-align :center;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-face: bold;
}

p {
  font-size: 22px;
}

.smallcaps {
    font-family: 'Alegreya Sans SC', sans-serif;
    font-size: 40px;
    font-face: bold;
}

.control-label {
  font-size: 18px;
}

h1 {
  font-size: 30px;
}

h2 {
  font-size: 25px;
}

ul {
  font-size: 22px;
}

.well {
}

.navbar-nav li a {
        font-size: 25px;
        font-weight: bold;
}